<footer class="footer">
  <nav class="menu">
    <h5 class="menu-title">Tienda</h5>
    <ul>
      <li class="menu-option">Productos</li>
      <li class="menu-option">Cajoneras</li>
      <li class="menu-option">Para toda la casa</li>
      <li class="menu-option">Habitaciones</li>
    </ul>
    <h5 class="menu-title">Nosotros</h5>
    <ul>
      <li class="menu-option">Nuestra guía</li>
      <li class="menu-option">Nuestro diseño</li>
      <li class="menu-option">Nuestra historia</li>
      <li class="menu-option">Ayuda</li>
    </ul>
    <h5 class="menu-title">Contacto</h5>
    <ul>
      <li class="menu-option">ayuda<span>&#64;</span>openspaces.com</li>
      <li class="menu-option">Socios</li>
    </ul>
    <ul>
      <li>LinkedIn</li>
      <li>Instagram</li>
      <li>Twitter</li>
    </ul>
  </nav>
  <button>Arrow</button>
</footer>
