<footer class="footer">
  <nav>
    <h5>Tienda</h5>
    <ul>
      <li>Productos</li>
      <li>Cajoneras</li>
      <li>Para toda la casa</li>
      <li>Habitaciones</li>
    </ul>
  </nav>
  <nav>
    <h5>Nosotros</h5>
    <ul>
      <li>Nuestra guía</li>
      <li>Nuestro diseño</li>
      <li>Nuestra historia</li>
      <li>Ayuda</li>
    </ul>
  </nav>
  <nav>
    <h5>Contacto</h5>
    <ul>
      <li>ayuda<span>&#64;</span>openspaces.com</li>
      <li>Socios</li>
    </ul>
  </nav>
  <nav>
    <ul>
      <li>LinkedIn</li>
      <li>Instagram</li>
      <li>Twitter</li>
    </ul>
  </nav>
  <button>Arrow</button>
</footer>
