<section class="second-section">
  <h2 class="section-title">
    Volverse organizado se siente mejor con
    <span class="uppercase">open spaces</span>
  </h2>
  <img class="feature-icon" src="./assets/images/icon_1.png" />
  <section class="feature">
    <h4 class="feature-title">Lo que necesitas</h4>
    <p class="feature-text">
      Una línea de productos diseñados para todos tus espacios
    </p>
  </section>
  <img class="feature-icon" src="./assets/images/icon_2.png" />
  <section class="feature">
    <h4 class="feature-title">Materia primas sustentables</h4>
    <p class="feature-text">
      Todos los productos con materias primas sustentables
    </p>
  </section>
  <img class="feature-icon" src="./assets/images/icon_3.png" />
  <section class="feature">
    <h4 class="feature-title">Guía</h4>
    <p class="feature-text">
      Soporte y asesoramiento para ayudarte con tu objetivo
    </p>
  </section>
</section>
