.first-section {
  height: 100vh;
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 3.875rem;

  @media all and (min-width: 900px) {
    align-items: flex-start;
    padding-left: 9.188rem;
  }

  & .claim {
    font-family: $mainFont;
    color: $thirdColor;
    font-weight: 600;
    font-size: 1.5rem;

    @media all and (min-width: 900px) {
      max-width: 26.875rem;
      font-size: 2.25rem;
    }
  }

  & .first-button {
    background-color: $thirdColor;
    border: none;
    height: 3rem;
    width: 11rem;
    color: white;
    font-family: $mainFont;
    font-size: 1rem;
    font-weight: bolder;
    text-transform: capitalize;
    margin-bottom: 4rem;
  }
}
