.footer {
  background-color: $thirdColor;
  color: $footerColor;
  font-family: $mainFont;
  line-height: 1.5rem;
  padding-top: 3.5rem;
  padding-bottom: 1.5rem;

  @media all and (min-width: 900px) {
    padding-top: 4.438rem;
    padding-bottom: 0rem;
  }

  @media all and (min-width: 1728px) {
    padding-top: 8.188rem;
  }

  & .menu {
    margin-left: 9.125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @media all and (min-width: 900px) {
      margin-left: 7.375rem;
      margin-right: 3.563rem;
      padding-bottom: 4.625rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }

    @media all and (min-width: 1728px) {
      justify-content: space-around;
      margin-left: 18rem;
      margin-right: auto;
      padding-bottom: 8.188rem;
    }

    & .menu-title {
      margin-top: 1.25rem;
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: 0.75rem;

      @media all and (min-width: 1728px) {
        font-size: 1.5rem;
      }
    }

    & .menu-option {
      font-size: 0.875rem;

      @media all and (min-width: 1728px) {
        font-size: 1rem;
      }

      & .link {
        text-decoration: none;
        color: $footerColor;
        font-family: $mainFont;

        &:hover {
          color: white;
        }
      }
    }
  }

  & .social-media {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 1rem;

    & .social-media-icon {
      color: white;
      height: 1.625rem;
    }
  }

  & .arrow {
    width: 100%;
    display: none;

    @media all and (min-width: 900px) {
      width: auto;
      display: flex;
      justify-content: flex-end;
    }

    & .fa-solid {
      color: white;
      padding-right: 1.75rem;
      padding-bottom: 1rem;
    }
  }
}
