.footer {
  background-color: $thirdColor;
  color: $footerColor;
  font-family: $mainFont;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5rem;
  padding-top: 3.5rem;

  & .menu {
    & .menu-title {
      margin-top: 1.25rem;
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: 0.75rem;
    }

    & .menu-option {
      font-size: 0.875rem;
    }
  }
}
