.header {
  width: 100vw;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  & .menu {
    padding: 0.625rem;
    margin-top: 2.813rem;
    margin-left: 2.063rem;
    color: $thirdColor;
    transform: translateY(-10px);
  }

  & .logo {
    height: 6rem;
    width: 13.313rem;
    transform: translateX(-95px);
    // padding-top: 1.188rem;
  }
}
