.third-section {
  background-color: $secondColor;
  padding-top: 2.875rem;
  padding-bottom: 3.188rem;
  font-family: $mainFont;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media all and (min-width: 900px) {
    height: 22rem;
  }

  @media all and (min-width: 1728px) {
    height: 25rem;
  }

  & .icon {
    width: 7.5rem;
    height: 7.5rem;
  }

  & .section-title {
    font-weight: 600;
    font-size: 1.5rem;
    padding-top: 0.625rem;

    @media all and (min-width: 900px) {
      font-size: 1.875rem;
      line-height: 3rem;
    }

    @media all and (min-width: 1728px) {
      font-size: 2.25rem;
    }
  }

  & .section-text {
    font-size: 0.875rem;
    padding-top: 0.625rem;

    @media all and (min-width: 1728px) {
      font-size: 1rem;
      line-height: 2rem;
    }
  }

  & .section-button {
    height: 3rem;
    width: 10.938rem;
    color: white;
    background-color: $secondColor;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: underline;
    margin-top: 0.313rem;

    &:hover {
      color: $thirdColor;
    }

    @media all and (min-width: 1728px) {
      margin-top: 0.375rem;
    }
  }
}
